.h5p-grid-view-content {
  .h5p-grid-view-content-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    &.display-none {
      display: none;
    }
  }
}
