.h5p-grid-view-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .h5p-grid-view-content-main {
    padding: 1rem;

    &.display-none {
      display: none;
    }
  }
}
